<div class="section small-section"></div>
<div class="container-fluid">
  <reviews-widget></reviews-widget>
</div>

<div class="section container">
  <div class="has-text-left">
    <a href="https://www.linkedin.com/in/maurizio-pireddu/">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>

    <a href="mailto:pireddu.maurizio@gmail.com" target="_blank">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>

  </div>
  <div class="content has-text-right">
    Developed with <i class="fa fa-heart" aria-hidden="true"></i>
  </div>
</div>
