<section class="hero is-dark">
    <div class="hero-header">
      <div class="container">
        <a href="https://www.trustpilot.com/">
          <img src="assets/trustpilot-logo-dark-bg-120x18.png" alt="trustpilot-logo" align="middle">
        </a>
        <div *ngIf="this.averageRating > 0">
          <review-star-rating [starRating]="this.averageRating" [viewCompleteRating]="true"></review-star-rating>
        </div>

      </div>
    </div>
    <div class="hero-body container">
      <div class="tile is-ancestor">
        <review-detail *ngFor="let review of reviews" [review]="review" class="tile">
				</review-detail>
      </div>
    </div>
  </section>
